# Vivado-generated junk files
*.jou
*.log
*.str
*.pb
*.xml
*.rpx
*.tcl
*.vds
*.wdf
*.xpr
*.wdb

# Vivado-generated project folders
.cache/
.hw/
.ip_user_files/
.runs/
.sim/
vivado_env/
vivado_projects/

# OS junk
.DS_Store
Thumbs.db

# But keep relevant reports
!**/*.rpt
